* {
    font-family: "Prompt";
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background:rgb(128, 96, 149)
}

.todo-container {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 600p;
    transform: translate(-50%, -50%);
    background: rgb(46, 42, 42);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo {
    width: 400px;
}

.todo-container h2 {
    padding: 10px;
    font-size: 30px;
}

.todo-header input {
    width: 90%;
    border: none;
    border-radius: 5px;
    height: 20px;
}

.todo-header button {
    color: white;
    border: none;
    border-radius: 80%;
    cursor: pointer;
    padding: 5px;
    background-color: black;
}

.todo-container ul {
    list-style: none;
}

.todo-list-item {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: grey;
    display: flex;
    flex-direction: row;
}